@media screen and (max-width: 575px)
{
    .dataTable-input {
        width: 100% !important;
        margin-top: 10px !important;
    }
    
    .dataTable-search {
        float: none !important;
    }

    .dataTable-dropdown {
        margin-top: 5px !important;
    }
}